<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-wheat-100">

  
  <!-- Hero Section -->
  <section class="bg-cover bg-center h-screen" style="background-image: url('https://media.istockphoto.com/id/1218830644/photo/beautiful-lake.jpg?s=612x612&w=0&k=20&c=r5or5KmtrZE5P93cDPG2FzxWQxhZA0qeTInoXJ7qXxA=');">
    <div class="bg-white bg-opacity-50 h-full flex items-center">
      <div class="container mx-auto px-6 text-center text-white" style = "color: #1c1ddb;">
        <h2 class="text-4xl font-bold">Plan Your Next Adventure</h2>
        <p class="mt-4 text-lg" style="color: white;
    font-weight: 700;">Explore new destinations, track your trips, and make memories.</p>
        <div class="mt-6 space-x-4">
          <a href="/signup" class="bg-blue-600 px-4 py-2 rounded text-white hover:bg-blue-700  rounded-lg shadow-md ">Create Account</a>
          <a href="/login" class="bg-gray-700 px-4 py-2 rounded text-white hover:bg-gray-700 rounded-lg shadow-md  ">Log In</a>
        </div>
      </div>
    </div>
  </section>



</body>
</html>
